torch
torchvision
langchain==0.0.147
fschat==0.2.3
accelerate
qdrant-client
duckduckgo_search==2.9.5
transformers>=4.28.0
tokenizers
unstructured[local-inference]
layoutparser[layoutmodels,tesseract]
nltk
sentence-transformers
beautifulsoup4
gradio==3.23.0
icetk
cpm_kernels
faiss-cpu
wandb==0.13.0
jina
langchain-serve
protobuf==3.19.0
detectron2@git+https://github.com/facebookresearch/detectron2.git@v0.6#egg=detectron2